In [1]:
import pandas as pd
import sys
sys.path.append('/home/matta/recipy_maker')
import consume       

#

In [2]:
my_data = pd.read_pickle('../Web_Scraping/df_w_json.pkl')

my_data.head(1)

,title,image_url,description,ingredients,instructions,json
0,Traditional Mexican Guacamole,https://imagesvc.meredithcorp.io/v3/mm/image?u...,This guacamole is great! Whether or not you wa...,"[2 avocados, peeled and pitted , 1 cup chopped...",Mash avocados in a bowl until creamy.\nMix tom...,"{'title': 'Traditional Mexican Guacamole', 'im..."

In [3]:
my_input = my_data[150:]
my_input.head(1)
# maybe we could/ should add a tag --- would be in scraping part.. whatever category it came from

,title,image_url,description,ingredients,instructions,json
150,Basic Air Fryer Hot Dogs,https://imagesvc.meredithcorp.io/v3/mm/image?u...,Perfectly crisp hot dogs and toasted buns made...,"[4 hot dog buns , 4 hot dogs ]",Preheat air fryer to 390 degrees F (200 degree...,"{'title': 'Basic Air Fryer Hot Dogs', 'image_u..."

In [4]:
# for index,row in my_input.iterrows():
#     title = row['title']
#     image_url = row['image_url']
#     description = row['description']
#     ingredient_list = row['ingredients']
#     instructions = row['instructions']
#     r_api.create_recipe(title,description,ingredient_list,instructions,image_url)

In [5]:
r_api = consume.API('admin','1477')

In [6]:
# import names
# import random

# name_list = []

# for _ in range(20):
#     name = names.get_first_name()
#     number = str(random.randint(0,100))
#     username = name + number
#     name_list.append(username)

In [7]:
# user_list = []
# for name in name_list:
#     api_access = consume.API()
#     email = name + "@email.com"
#     email2 = name + "@email.com"
#     password = "Uns4fepassword12"
#     #api_access.create_user(name,email,email2,password)
#     user_list.append({"name":name,"password":password})

In [8]:
# import pickle

# with open('user_list.pkl','wb') as f:
#     pickle.dump(user_list,f)

In [3]:
import pickle
with open('user_list.pkl','rb') as f:
    user_list = pickle.load(f)

In [4]:
for user in user_list:
    username = user['name']
    password = user['password']
    api_access = consume.API(username,password)

In [5]:
r_api = consume.API()
recipe_list = []
for i in range(31):
    m_list = r_api.get_recipes(i+1)
    for i in range(len(m_list)):
        a = m_list[i].get('id')
        b = m_list[i].get('favorites')
        recipe_list.append([a,b])

In [6]:
recipe_df = pd.DataFrame(recipe_list,columns=['id','favorites'])

recipe_id_list = recipe_df['id'].values.tolist()

In [7]:
import random


# for user in user_list:
#     username = user['name']
#     password = user['password']
#     api_access = consume.API(username,password)
#     sample = random.sample(recipe_id_list,30)
#     for recipe_id in sample:
#         api_access.favorite_recipe(recipe_id)

In [8]:
my_recipe_df = pd.DataFrame(recipe_list,columns=['id','favorites']).explode('favorites')

username = user_list[0]['name']
print(username)
password = user_list[0]['password']
api_access = consume.API(username,password)

my_recipe_df.head(5)

Daniel85

   id favorites
0   1         1
0   1        14
0   1        15
0   1        36
1   3         1

In [9]:
df_recipe_crosstab = pd.crosstab(index=my_recipe_df['id'],columns=my_recipe_df['favorites'])

In [11]:
df_recipe_crosstab

favorites,1,3,13,14,15,36,37,38,39,40,...,46,47,48,49,50,51,52,53,54,55
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,1,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,1,1,0,1,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
6,1,0,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
618,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
619,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
620,0,0,0,0,0,1,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
621,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [25]:
col_values = df_recipe_crosstab.columns.values.tolist()

In [27]:
df_recipe_crosstab

favs_vector = []
def get_favs_vector(user_id):
    favorites_list = api_access.get_one_user(user_id)['favorites']
    for col in col_values:
        if col in favorites_list:
            favs_vector.append(1)
        else:
            favs_vector.append(0)
    return favs_vector

# Add row minimum #N Ratings...?  Fraction of users must have rated to be considered or flat number (~5,10)

get_favs_vector(1)

[4, 1, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 119]

[1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [12]:
matrix = df_recipe_crosstab.to_numpy()
matrix

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 1, 0],
       [1, 1, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [14]:
from sklearn.neighbors import NearestNeighbors
knn_model = NearestNeighbors(metric='cosine',algorithm='brute')
fit_model = knn_model.fit(matrix)

In [15]:
def get_user_recipes(user_id):
    return df_recipe_crosstab.index[df_recipe_crosstab[user_id]==True].tolist()[-10:]

In [64]:
def get_recommendations(user_id):
    results = []
    for recipe_id in get_user_recipes(user_id):
        input_ = df_recipe_crosstab.loc[recipe_id].values.reshape(1,-1)
        distances,indices = fit_model.kneighbors(input_, n_neighbors=10)
        distances = distances.flatten().tolist()
        indices = indices.flatten().tolist()
        for i in range(len(distances)):
            if indices[i] not in get_user_recipes(1) and distances[i] > 0.1:
                results.append([indices[i],distances[i]])

    res = pd.DataFrame(results,columns=['indices','distances']).groupby(['indices']).sum()
    res = res.sort_values(by=['distances'],ascending=False)
    most_similar = res.head(10)
    most_similar_dict = pd.Series(most_similar.distances.values,index=most_similar.index).to_dict()
    return most_similar_dict

In [65]:
most_similar = get_recommendations(1)
most_similar

{22: 1.8203377437377775,
 395: 0.6604376867797768,
 19: 0.6583592135001262,
 4: 0.5625964754732308,
 10: 0.5394065133195569,
 116: 0.5288497483642968,
 405: 0.5000000000000001,
 72: 0.5000000000000001,
 450: 0.5000000000000001,
 418: 0.5000000000000001}

In [66]:
most_similar

{22: 1.8203377437377775,
 395: 0.6604376867797768,
 19: 0.6583592135001262,
 4: 0.5625964754732308,
 10: 0.5394065133195569,
 116: 0.5288497483642968,
 405: 0.5000000000000001,
 72: 0.5000000000000001,
 450: 0.5000000000000001,
 418: 0.5000000000000001}

In [ ]:
# 1
# Compare most similar users to a selected user
# then return the most frequent recipes liked by other users which arent already favorite by selected user

# 2
# Compare most simliarly liked recipes for all recipes given a selected users
# Return most similar recipes which arent already favorited by a selected user