In [1]:
import pandas as pd
import sys
sys.path.append('/home/matta/recipy_maker')
import consume

In [2]:
my_data = pd.read_pickle('../Web_Scraping/df_w_json.pkl')

In [3]:
r_api = consume.API('admin','1477')

In [4]:
recipe_list = []
for i in range(5):
    m_list = r_api.get_recipes(i+1)
    for i in range(len(m_list)):
        a = m_list[i].get('id')
        b = m_list[i].get('favorites')
        recipe_list.append([a,b])

In [5]:
my_recipe_df = pd.DataFrame(recipe_list,columns=['id','favorites']).explode('favorites')

In [6]:
df_recipe_crosstab = pd.crosstab(index=my_recipe_df['id'],columns=my_recipe_df['favorites'])

In [7]:
df_recipe_crosstab.head()

favorites  1   3   13  14  15
id
1           1   0   0   1   1
3           1   0   1   0   0
4           1   1   1   0   1
5           0   0   1   1   0
6           1   0   1   0   1

In [8]:
m_list[0]

{'id': 82,
 'author': 'admin',
 'title': 'Classic Bran Muffins',
 'description': "These bran muffins are a delicious source of fiber! My family has them almost every morning. They're great! You may substitute dates for the raisins if you wish.",
 'ingredients': [{'name': '1\u2009½ cups wheat bran'},
  {'name': '1 cup buttermilk'},
  {'name': '⅔ cup brown sugar'},
  {'name': '⅓ cup vegetable oil'},
  {'name': '1 egg'},
  {'name': '½ teaspoon vanilla extract'},
  {'name': '1 cup all-purpose flour'},
  {'name': '1 teaspoon baking soda'},
  {'name': '1 teaspoon baking powder'},
  {'name': '½ teaspoon salt'},
  {'name': '½ cup raisins'}],
 'instructions': 'Preheat the oven to 375 degrees F (190 degrees C). Grease 12 muffin cups or line with paper muffin liners.\nMix together wheat bran and buttermilk in a large bowl; let stand for 10 minutes.\nBeat together brown sugar, oil, egg, and vanilla in a separate bowl and add to buttermilk mixture.\nSift together flour, baking soda, baking powder, and salt. Stir flour mixture into buttermilk mixture until just blended. Fold in raisins and spoon batter into the prepared muffin pan.\nBake muffins for 15 to 20 minutes or until a toothpick inserted into the center of a muffin comes out clean. Cool and enjoy!',
 'favorites': []}

In [9]:
new_user = consume.API()

new_user.create_user('dcacxxdmin2','emaicxl@email2.com','emaicxl@email2.com','Zackazoo2!')

{'username': ['A user with that username already exists.'],
 'email2': ['This user has already registered.']}

In [10]:
new_user1 = consume.API('dcadmin2','Zackazoo2!')
new_user2 = consume.API('dcacxdmin2','Zackazoo2!')
new_user3 = consume.API('dcacxxdmin2','Zackazoo2!')

In [11]:
for i in range(len(m_list)):
    a = m_list[i].get('id')
    #new_user1.favorite_recipe(a)
    if i % 2 == 0:
        pass
        #new_user3.favorite_recipe(a)
    if i % 3 == 0:
        pass
        #new_user2.favorite_recipe(a)

In [12]:
user_list = new_user1.get_users()

In [13]:
my_df = pd.DataFrame(user_list)
new_df = my_df.explode('favorites')

In [14]:
df_crosstab= pd.crosstab(index=new_df['id'],columns=new_df['favorites'])
df_crosstab

favorites,1,3,4,5,6,7,8,9,10,11,...,19,20,21,24,27,30,33,36,39,119
id,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,0,1,0,0,1,0,0,...,0,0,1,1,1,1,1,1,1,1
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,0,0,0,0
14,1,0,0,1,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
15,1,0,1,0,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [15]:
matrix = df_crosstab.to_numpy().reshape(1,-1)

In [16]:
matrix

array([[1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
        1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
        0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0]])

In [17]:
from sklearn.neighbors import NearestNeighbors

In [18]:
knn_model = NearestNeighbors(metric='cosine',algorithm='brute')

In [19]:
fit_model = knn_model.fit(matrix)